{% extends "base.html" %}

{% block social_media %}
    <meta name="description" content="{{ page.description }}">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://rgbfaq.com/rgb-banner.png" />
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="RGB FAQ">

    <meta name="twitter:site" content="@lnp_bp">
{% endblock social_media %}

{% block content %}
<article>
    {{ page.content | safe }}
</article>
{% endblock content %}
